[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/tikv/rocksdb.git
	branch = tikv-4.x
[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/tikv/titan.git
	branch = tikv-4.x

