dist: trusty
sudo: required
language: rust

os:
  - linux

rust:
  - stable
  - beta
  - nightly

matrix:
  include:
  - os: osx
    rust: stable

env:
  global:
  - RUST_BACKTRACE=1

cache:
  directories:
  - target

before_script:
  - rustup toolchain install nightly-2020-04-23
  - rustup default nightly-2020-04-23
  - rustup component add rustfmt

script:
  - cargo fmt --all -- --check
  - cargo build
  - cargo test --all
